<section class="flex flex-col justify-center items-center">
  <div class="max-w-screen-xl w-full">
    <h2 class="text-3xl text-center pt-[60px] pb-12 font-playfair">
      Servicios de Apoyo
    </h2>

    <hr class="border-2 border-[#896936] w-full mb-5" />

    <h3 class="text-lg pb-8 font-playfair">
      Ofrecemos servicios de apoyo que complementan nuestra atención médica
      especializada, creando un ambiente seguro y cómodo donde los residentes
      pueden prosperar y disfrutar de una vida plena.
    </h3>

    <div class="text-sm font-medium text-gray-500 px-16">
      <ul class="flex flex-wrap -mb-px gap-7">
        <li class="me-2">
          <button
            onclick="mostarInfo(this)"
            class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 botonCocina"
            >Cocina</button
          >
        </li>
        <li class="me-2">
          <button
            onclick="mostarInfo(this)"
            class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300"
            >Asistentes de cuido personal</button
          >
        </li>
        <li class="me-2">
          <button
            onclick="mostarInfo(this)"
            class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300"
            >Miscelánea</button
          >
        </li>
      </ul>
    </div>

    <div class="contenidoDiv px-16">
      <div class="pt-9 h-[165px]">
        <h2 class="text-2xl font-playfair">
          Nutrición de calidad, amor en cada plato
        </h2>
        <br />
        <p class="text-base font-montse">
          La nutrición es fundamental para la salud y el bienestar de nuestros
          residentes. Nuestro equipo de cocina prepara comidas nutritivas y
          deliciosas, teniendo en cuenta las preferencias individuales y las
          necesidades dietéticas específicas de cada residente. Nos esforzamos
          por ofrecer una experiencia culinaria que satisfaga tanto el paladar
          como las necesidades nutricionales.
        </p>
      </div>
    </div>
  </div>
  <section
    class="hero-section mt-14 pt-28 pb-20 w-full flex justify-center items-center gap-52"
  >
    <div class="flex justify-center flex-col items-center">
      <img src="/miscelanea.png" alt="" srcset="" class="w-full" />
    </div>
    <div class="flex justify-center flex-col items-center">
      <img src="/cocineros.png" alt="" srcset="" class="w-full" />
    </div>
  </section>
</section>

<style>
  .hero-section {
    background-image: url("../services-wave.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Work Sans Variable", sans-serif;
    color: #d9a756;
  }

  button {
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .active {
    border-bottom-width: 2px;
    border-bottom-color: #3b82f6;
    color: #3b82f6;
    transition: all 0.3s ease;
  }
</style>

<script is:inline>
  // Función para mostarInfo información y aplicar estilos a la opción seleccionada
  function mostarInfo(boton) {
    console.log("ejecutado");
    // Remover estilos activos de todos los botones
    var botones = document.querySelectorAll(".text-sm button");
    botones.forEach(function (boton) {
      boton.classList.remove("active");
    });

    // Aplicar estilos activos solo al botón seleccionado
    boton.classList.add("active");

    // Define el contenido a mostarInfo para cada opción
    var contenido = "";
    switch (boton.textContent) {
      case "Cocina":
        contenido =
          '<div class="pt-9 h-[165px]">' +
          '<h2 class="text-2xl font-playfair">Nutrición de calidad, amor en cada plato</h2>' +
          "<br />" +
          '<p class="text-base font-montse">' +
          "La nutrición es fundamental para la salud y el bienestar de nuestros residentes. Nuestro equipo de cocina prepara comidas nutritivas y deliciosas, teniendo en cuenta las preferencias individuales y las necesidades dietéticas específicas de cada residente. Nos esforzamos por ofrecer una experiencia culinaria que satisfaga tanto el paladar como las necesidades nutricionales.";

        "</p>" + "</div>";
        break;
      case "Asistentes de cuido personal":
        contenido =
          '<div class="pt-9 h-[165px]">' +
          '<h2 class="text-2xl font-playfair">Asistentes de cuido personal </h2>' +
          "<br />" +
          '<p class="text-base font-montse">' +
          "Nuestros asistentes de cuidado personal están disponibles para brindar apoyo personalizado en las actividades diarias. Desde ayudar con la movilidad y la higiene personal hasta brindar compañía y apoyo emocional, nuestro equipo está comprometido a proporcionar una atención integral y respetuosa que promueva la autonomía y la calidad de vida de nuestros residentes.";
        "</p>" + "</div>";
        break;
      case "Miscelánea":
        contenido =
          '<div class="pt-9 h-[165px]">' +
          '<h2 class="text-2xl font-playfair">La atención a los detalles marca la diferencia</h2>' +
          "<br />" +
          '<p class="text-base font-montse">' +
          "Nuestro equipo de miscelánea está dedicado a garantizar un ambiente limpio y acogedor en todo momento. Desde tareas de limpieza hasta el mantenimiento del orden. Nos encargamos de cada detalle para que nuestros residentes se sientan cómodos y seguros en su hogar.";
        "</p>" + "</div>";
        break;
    }

    // Actualiza el contenido del div con clase "contenido"
    var contenidoDiv = document.querySelector(".contenidoDiv");
    if (contenidoDiv) {
      contenidoDiv.innerHTML = contenido;
    }
  }

  document.addEventListener("DOMContentLoaded", function () {
    var botonCocina = document.querySelector(".botonCocina");
    if (botonCocina) {
      botonCocina.classList.add("active");
    }
  });
</script>
