<section class="hero-section pt-36 w-full flex justify-center items-center">
  <div class="pb-36 flex justify-center flex-col items-center">
    <h1 class="text-6xl font-bold text-[#EEE]">Sobre Nosotros</h1>
  </div>
</section>

<style>
  .hero-section {
    background-image: url("../about-wave.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 727px;
    font-family: "Work Sans Variable", sans-serif;
    color: #d9a756;
  }
</style>
