<section
  class="hero-section pt-36 w-full flex justify-center items-center h-[316px] md:h-[416px] lg:h-[727px]"
>
  <div class="pb-36 flex justify-center flex-col items-center">
    <h1 class="text-3xl font-bold md:text-5xl lg:text-6xl text-[#eee]">
      Sobre Nosotros
    </h1>
  </div>
</section>

<style>
  .hero-section {
    background-image: url("../about-wave.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Work Sans Variable", sans-serif;
    color: #d9a756;
  }
</style>
