---
import MisionVisionIcon from "../icons/MisionVisionIcon.astro";
---

<section
  class="hero-section pt-20 pb-20 w-full flex justify-center items-center gap-52"
>
  <div class="flex justify-center flex-col items-center">
    <MisionVisionIcon />
    <div class="pt-8">
      <h3 class="font-montse text-2xl pb-3 text-center">Misión</h3>
      <hr class="border border-[#ffffff] w-full mt-1" />
      <p class="font-extralight text-base w-[39ch] pt-3 text-pretty">
        Garantizar un excelente servicio de cuidado, salud, alimentación,
        condiciones físicas y mentales a los residentes. Nos comprometemos a
        brindarles amor, protección, calidad de vida, paz, seguridad y
        tranquilidad, asegurando que reciban la atención y el respeto que
        merecen como adultos mayores.
      </p>
    </div>
  </div>
  <div class="flex justify-center flex-col items-center">
    <MisionVisionIcon />
    <div class="pt-8">
      <h3 class="font-montse text-2xl pb-3 text-center">Misión</h3>
      <hr class="border border-[#ffffff] w-full mt-1" />
      <p class="font-extralight text-base w-[39ch] pt-3 text-pretty">
        Ser una organización líder en el cuidado del adulto mayor,
        proporcionando un hogar lleno de esperanza, donde las actividades
        refuercen la seguridad, la felicidad y el bienestar de nuestros
        residentes, permitiéndoles continuar enriqueciendo nuestras vidas con su
        sabiduría y experiencia.
      </p>
    </div>
  </div>
</section>

<style>
  .hero-section {
    background-image: url("../mision-vision.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Work Sans Variable", sans-serif;
    color: #ffffff;
  }
</style>
