<section class="py-[60px]">
  <div class="w-full px-8 md:px-16 xl:px-64">
    <!--  <div>
      <img
        src="./hogar.png"
        alt=""
        class="w-full h-full lg:h-[560px] lg:min-w-96"
      />
    </div>

    <div class="contenedorOurHistoria">
      <h2 class="font-playfair text-2xl md:text-3xl pb-6 font-medium">
        Nuestra historia
      </h2>
      <div
        class="flex flex-col gap-3 font-light font-montse text-xs mobileL:text-sm lg:text-base"
      >
        <p>
          Inaugurado el 15 de mayo de 2019 como un modesto proyecto familiar en
          una acogedora casa ubicada en el barrio San Bosco del distrito San
          Juan, perteneciente al cantón de San Ramón en Costa Rica, el Hogar
          "Árbol de Sabiduría" ha sido un faro de cuidado y apoyo para nuestros
          queridos adultos mayores.
        </p>
        <p>
          Lo que comenzó como una iniciativa local rápidamente floreció, y tras
          dos años de dedicación y compromiso, nos trasladamos a nuestra
          ubicación actual, donde llevamos ya cuatro años sirviendo a la
          comunidad.
        </p>
        <p>
          Desde sus humildes inicios, han abrazado la filosofía de proporcionar
          un hogar cálido y seguro donde los residentes puedan disfrutar de una
          vida plena y digna en sus años dorados.
        </p>
        <p>
          Su misión ha sido siempre la misma: brindar un ambiente acogedor y
          servicios de alta calidad que promuevan el bienestar físico, emocional
          y social de cada uno de nuestros residentes.
        </p>
        <p>
          Orgullosos haber evolucionado con el tiempo para adaptándose a las
          cambiantes necesidades de nuestra población de adultos mayores. Con un
          enfoque en la atención personalizada y un equipo multidisciplinario
          dedicado que se esfuerzan por ofrecer un cuidado integral que aborde
          las necesidades individuales de cada residente.
        </p>
      </div>
    </div> -->

    <div class="conbtenedor">
      <img
        src="./hogar.png"
        alt=""
        class="imagen w-full mb-8 lg:pr-7 lg:w-[51.5%] xl:h-fit"
      />

      <div class="contenedorOurHistoria">
        <h2 class="font-playfair text-2xl md:text-3xl pb-6 font-medium">
          Nuestra historia
        </h2>
        <p
          class="font-light font-montse text-xs mobileL:text-sm lg:text-base pb-3"
        >
          Inaugurado el 15 de mayo de 2019 como un modesto proyecto familiar en
          una acogedora casa ubicada en el barrio San Bosco del distrito San
          Juan, perteneciente al cantón de San Ramón en Costa Rica, el Hogar
          "Árbol de Sabiduría" ha sido un faro de cuidado y apoyo para nuestros
          queridos adultos mayores.
        </p>
        <p
          class="font-light font-montse text-xs mobileL:text-sm lg:text-base pb-3"
        >
          Lo que comenzó como una iniciativa local rápidamente floreció, y tras
          dos años de dedicación y compromiso, nos trasladamos a nuestra
          ubicación actual, donde llevamos ya cuatro años sirviendo a la
          comunidad.
        </p>

        <p
          class="font-light font-montse text-xs mobileL:text-sm lg:text-base pb-3"
        >
          Desde sus humildes inicios, han abrazado la filosofía de proporcionar
          un hogar cálido y seguro donde los residentes puedan disfrutar de una
          vida plena y digna en sus años dorados.
        </p>
        <p
          class="font-light font-montse text-xs mobileL:text-sm lg:text-base pb-3"
        >
          Su misión ha sido siempre la misma: brindar un ambiente acogedor y
          servicios de alta calidad que promuevan el bienestar físico, emocional
          y social de cada uno de nuestros residentes.
        </p>
        <p class="font-light font-montse text-xs mobileL:text-sm lg:text-base">
          Orgullosos haber evolucionado con el tiempo para adaptándose a las
          cambiantes necesidades de nuestra población de adultos mayores. Con un
          enfoque en la atención personalizada y un equipo multidisciplinario
          dedicado que se esfuerzan por ofrecer un cuidado integral que aborde
          las necesidades individuales de cada residente.
        </p>
      </div>
    </div>
  </div>

  <!-- <style>
  .contenedorOurHistoria {
    max-width: 50%;
  }
</style> -->

  <style>
    .imagen {
      float: left;
    }
  </style>
</section>
