<section
  class="flex flex-col justify-center items-center py-[60px] px-8 md:px-16"
>
  <h3 class="text-center text-3xl md:text-4xl font-playfair pb-16">
    Nuestro equipo
  </h3>

  <div class="lg:gap-14 xl:gap-36">
    <div class="flex justify-center flex-col md:flex-row gap-16">
      <div class="">
        <img decoding="async" src="/avatar.png" alt="Kattia Herrera Rivas" />
        <div class="flex flex-col pt-8 text-center">
          <span class="font-bold font-montse text-sm">Juan Ramírez Ortiz</span>
          <span class="font-light font-workSans text-sm"
            >Terapeuta ocupacional</span
          >
        </div>
      </div>
      <div class="">
        <img decoding="async" src="/avatar.png" alt="Kattia Herrera Rivas" />
        <div class="flex flex-col pt-8 text-center">
          <span class="font-bold font-montse text-sm">Juan Ramírez Ortiz</span>
          <span class="font-light font-workSans text-sm"
            >Terapeuta ocupacional</span
          >
        </div>
      </div>
      <div class="">
        <img decoding="async" src="/avatar.png" alt="Kattia Herrera Rivas" />
        <div class="flex flex-col pt-8 text-center">
          <span class="font-bold font-montse text-sm">Juan Ramírez Ortiz</span>
          <span class="font-light font-workSans text-sm"
            >Terapeuta ocupacional</span
          >
        </div>
      </div>
      <div class="">
        <img decoding="async" src="/avatar.png" alt="Kattia Herrera Rivas" />
        <div class="flex flex-col pt-8 text-center">
          <span class="font-bold font-montse text-sm">Juan Ramírez Ortiz</span>
          <span class="font-light font-workSans text-sm"
            >Terapeuta ocupacional</span
          >
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /*   @media (min-width: 640px) {
    .avatar {
      width: 13rem !important;
    }
  } */

  /* @media (min-width: 768px) { ... }

@media (min-width: 1024px) { ... }

 @media (min-width: 1280px) { ... }

 @media (min-width: 1536px) { ... } */
</style>
