<section class="flex flex-col justify-center items-center py-[60px]">
  <h3 class="text-center text-4xl font-playfair pb-16">Nuestro equipo</h3>
  <div class="flex max-w-screen-xl gap-36 mb-20">
    <div class="flex flex-col justify-center w-[280px]">
      <div class="w-full flex justify-center">
        <img src="/avatar.png" alt="" />
      </div>
      <div class="flex flex-col pt-8">
        <span class="font-bold font-montse">Juan Ramírez Ortiz</span>
        <span class="font-light font-workSans">Terapeuta ocupacional</span>
      </div>
    </div>
    <div class="flex flex-col justify-center w-[280px]">
      <div class="w-full flex justify-center">
        <img src="/avatar.png" alt="" />
      </div>
      <div class="flex flex-col pt-8">
        <span class="font-bold font-montse">Juan Ramírez Ortiz</span>
        <span class="font-light font-workSans">Terapeuta ocupacional</span>
      </div>
    </div>
    <div class="flex flex-col justify-center w-[280px]">
      <div class="w-full flex justify-center">
        <img src="/avatar.png" alt="" />
      </div>
      <div class="flex flex-col pt-8">
        <span class="font-bold font-montse">Juan Ramírez Ortiz</span>
        <span class="font-light font-workSans">Terapeuta ocupacional</span>
      </div>
    </div>
  </div>
  <div class="flex max-w-screen-xl gap-36">
    <div class="flex flex-col justify-center w-[280px]">
      <div class="w-full flex justify-center">
        <img src="/avatar.png" alt="" />
      </div>
      <div class="flex flex-col pt-8">
        <span class="font-bold font-montse">Juan Ramírez Ortiz</span>
        <span class="font-light font-workSans">Terapeuta ocupacional</span>
      </div>
    </div>
    <div class="flex flex-col justify-center w-[280px]">
      <div class="w-full flex justify-center">
        <img src="/avatar.png" alt="" />
      </div>
      <div class="flex flex-col pt-8">
        <span class="font-bold font-montse">Juan Ramírez Ortiz</span>
        <span class="font-light font-workSans">Terapeuta ocupacional</span>
      </div>
    </div>
    <div class="flex flex-col justify-center w-[280px]">
      <div class="w-full flex justify-center">
        <img src="/avatar.png" alt="" />
      </div>
      <div class="flex flex-col pt-8">
        <span class="font-bold font-montse">Juan Ramírez Ortiz</span>
        <span class="font-light font-workSans">Terapeuta ocupacional</span>
      </div>
    </div>
  </div>
</section>
