---
import Layout from "../layouts/Layout.astro";
import HeroImage from "../components/Index/HeroImage.astro";
import SeccionIntro from "../components/Index/SeccionIntro.astro";
import MedicalAttentionWave from "../components/Index/MedicalAttentionWave.astro";
import Services from "../components/Index/Services.astro";
import Quote from "../components/Index/Quote.astro";
import ValuesSection from "../components/Index/ValuesSection.astro";
import ActivitiesWave from "../components/Index/ActivitiesWave.astro";
import IndexMap from "../components/Index/IndexMap.astro";
import Header from "../components/HeaderClaro.astro";
---

<Layout title="Árbol de Sabiduría">
  <Header fontColor=`#eef2f6` BgColor="transparent" />
  <HeroImage />
  <SeccionIntro
    titulo="UN HOGAR DE ATENCIÓN Y BIENESTAR"
    parrafoGrande="Desde hace más de cuatro años, nos hemos dedicado a promover la salud, la independencia y la calidad de vida de todos nuestros residentes."
    parrafoPequeño="En el Hogar Árbol de Sabiduría, nos dedicamos a brindar un cuidado excelente y personalizado para nuestros residentes y sus seres queridos ofreciendo el mejor cuidado posible. "
  />
  <main>
    <MedicalAttentionWave />
    <Services />
    <Quote />
    <ValuesSection />
    <ActivitiesWave />
    <IndexMap />
  </main>
</Layout>
