<section class="mb-20">
  <div class="flex flex-col justify-center items-center">
    <div
      class="mb-10 flex flex-col items-center gap-3 w-full bg-slate-500 py-10"
    >
      <h2 class="text-3xl font-medium text-[#EEE]">Actividades</h2>
      <hr class="border border-[#D99D55] w-24 mx-auto" />
    </div>
    <div class="max-w-4xl">
      <div class="md:flex">
        <ul
          class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 md:me-4 mb-4 md:mb-0"
        >
          <li>
            <a
              href="#"
              class="inline-flex items-center justify-center px-4 py-4 text-[#E6B55D] bg-[#FAF0DF] rounded-lg active w-full"
              aria-current="page"
            >
              Recreativas
            </a>
          </li>
          <li>
            <a
              href="#"
              class="inline-flex items-center justify-center px-4 py-4 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full"
            >
              Artísticas
            </a>
          </li>
          <li>
            <a
              href="#"
              class="inline-flex items-center justify-center px-4 py-4 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full"
            >
              Manuales
            </a>
          </li>
          <li>
            <a
              href="#"
              class="inline-flex items-center justify-center px-4 py-4 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full"
            >
              Celebraciones Especiales
            </a>
          </li>
          <li>
            <a
              href="#"
              class="inline-flex items-center justify-center px-4 py-4 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full"
            >
              Otros
            </a>
          </li>
        </ul>
        <div class="p-6 bg-gray-50 text-medium text-gray-500 rounded-lg w-full">
          <h3 class="text-lg font-bold text-gray-900 dark:text-white mb-2">
            Profile Tab
          </h3>
          <p class="mb-2">
            This is some placeholder content the Profile tab's associated
            content, clicking another tab will toggle the visibility of this one
            for the next.
          </p>
          <p>
            The tab JavaScript swaps classes to control the content visibility
            and styling.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  li > a {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-weight: 600;
  }
</style>
