---
import Logo from "./icons/Logo.astro";
---

<header class="fixed w-full z-20">
  <nav
    id="scrollNav"
    class="flex gap-20 bg-transparent justify-center items-center text-lg py-5"
  >
    <a href="#top" class="">Inicio</a>
    <a href="#top" class="">Atención médica</a>
    <a href="#top" class="">Actividades</a>

    <!-- <img src="/logo.png" alt="" /> -->
    <Logo width="88px" height="101px" />

    <a href="#top" class="">Servicios</a>

    <a href="#top" class="">Quiénes somos</a>

    <a href="#top" class="">Contacto</a>
  </nav>
</header>

<style>
  a {
    font-family: "Work Sans Variable", sans-serif;
    font-weight: 600;
    color: #eef2f6;
  }
</style>
