---
import Button from "../Button.astro";
---

<section class="relative flex justify-center items-center">
  <img src="/index-wave.png" class="w-full h-full absolute top-0 left-0 z-0" />
  <div
    class="max-w-screen-xl pt-[140px] pb-[90px] grid grid-cols-[37%,63%] relative z-10 gap-11"
  >
    <div class="div1">
      <img src="/enfermera-inyectando.png" class="w-full h-full" />
    </div>

    <div
      class="div2 text-[#F2F2F2] h-full flex flex-col justify-center items-center"
    >
      <div class="pb-4">
        <span class="text-3xl w-full"
          >Encuentra la Mejor Atención Médica para tus Seres Queridos</span
        >
      </div>
      <br />
      <div class="flex flex-col gap-4">
        <p>
          En el Hogar Árbol de Sabiduría, entendemos la importancia de encontrar
          el cuidado médico adecuado para tus seres queridos. Nuestro compromiso
          es proporcionar una atención médica personalizada y compasiva que
          satisfaga las necesidades individuales de cada residente.
        </p>

        <p>
          Desde servicios de enfermería dedicados hasta terapias especializadas,
          estamos aquí para brindar la atención que merecen. Descubre cómo
          podemos ayudar a tus seres queridos a vivir una vida saludable y
          feliz.
        </p>

        <p>¡Conoce más sobre nuestra atención médica!</p>
      </div>

      <!--     <button class="bg-[#733651] text-[#fff] w-full py-3 rounded-md mt-4"
        >Ver detalles de atención médica
      </button> -->

      <Button
        color="733651"
        paddingHorizontales=""
        paddingVerticales="3"
        width="w-full"
        menssage="Ver detalles de atención médica"
      />
    </div>
  </div>
</section>

<style>
  img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  span {
    font-family: "Playfair Display Variable", sans-serif;
    text-wrap: balance;
  }
  p {
    font-family: "Work Sans Variable", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #d9d9d9;
    text-wrap: pretty;
  }
</style>
