---
import Button from "../Button.astro";
---

<section class="relative flex justify-center items-center h-[562px] lg:h-full">
  <img src="/index-wave.png" class="w-full h-full absolute top-0 left-0 z-0" />
  <div
    class="px-8 lg:px-16 xl:px-0 lg:max-w-screen-xl pt-[140px] pb-[100px] lg:pb-[90px] lg:grid lg:grid-cols-[37%,1fr] relative z-10 gap-11"
  >
    <div class="div1 hidden lg:block">
      <img src="/enfermera-inyectando.png" class="w-full h-full" />
    </div>

    <div class="div2 text-[#F2F2F2] h-full flex flex-col justify-center">
      <div class="pb-0 lg:pb-4">
        <span class="text-lg md:text-2xl xl:text-3xl w-full"
          >Encuentra la Mejor Atención Médica para tus Seres Queridos</span
        >
      </div>

      <div class="flex flex-col gap-4 my-4 lg:my-0 xl:my-4">
        <p class="text-sm md:text-base lg:text-sm xl:text-base">
          En el Hogar Árbol de Sabiduría, entendemos la importancia de encontrar
          el cuidado médico adecuado para tus seres queridos. Nuestro compromiso
          es proporcionar una atención médica personalizada y compasiva que
          satisfaga las necesidades individuales de cada residente.
        </p>

        <p class="text-sm md:text-base lg:text-sm xl:text-base">
          Desde servicios de enfermería dedicados hasta terapias especializadas,
          estamos aquí para brindar la atención que merecen. Descubre cómo
          podemos ayudar a tus seres queridos a vivir una vida saludable y
          feliz.
        </p>

        <p class="text-sm md:text-base lg:text-sm xl:text-base">
          ¡Conoce más sobre nuestra atención médica!
        </p>
      </div>

      <Button
        color="733651"
        paddingHorizontales=""
        paddingVerticales="3"
        width="w-full"
        menssage="Ver detalles de atención médica"
        link="/MedicalAttention"
      />
    </div>
  </div>
</section>

<style>
  img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  span {
    font-family: "Playfair Display Variable", sans-serif;
    text-wrap: balance;
  }
  p {
    font-family: "Work Sans Variable", sans-serif;
    font-weight: 300;
    color: #d9d9d9;
    text-wrap: pretty;
  }
  .div2 {
    max-width: 100%;
  }
</style>
