<section
  class="bg-[#492233] min-h-[389px] py-[60px] flex justify-center items-center text-center w-full"
>
  <blockquote
    class="text-[#e7e7e7] text-lg lg:text-2xl font-normal sm:w-[40ch] md:w-full px-5 sm:px-0 md:px-16"
  >
    <p class="mb-3">
      "El amor y la compasión son necesidades, no lujos. Sin ellos, la humanidad
      no puede sobrevivir"
    </p>
    <footer>— Dalai Lama</footer>
  </blockquote>
</section>

<style>
  blockquote {
    font-family: "Source Sans Pro", sans-serif;
  }
</style>
