---
// Supports weights 100-900
import "@fontsource-variable/work-sans";

// Supports weights 400-900
import "@fontsource-variable/playfair-display";

// Supports weights 300-800
import "@fontsource-variable/open-sans";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  HeaderFontColor: string;
}

const { title, HeaderFontColor } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/logo.png" />
  </head>
  <body style="">
    <Header fontColor=`${HeaderFontColor}` BgColor="transparent" />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: system-ui, sans-serif;
  }
</style>
